<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<title>Live view index</title>
</head>
<body>
<center>
<h1>Index of cameras</h1>
{% for camera in cameras %}
<br />
<a href="{{ url_for('viewer', camera=camera) }}" class="btn btn-primary btn-lg" role="button">{{ camera }}</a><br />
{% else %}
<em>Unbelievable. No entries here so far</em>
{% endfor %}

</center>
</body>
</html>
