{% extends 'base.html.jinja2' %}

{%  block title %}Live view index{% endblock %}

{% block content %}
<h1>Index of cameras</h1>
<div class="container">
{% for camera in cameras %}
<div class="box">
<a href="{{ url_for('viewer', camera=camera) }}">
<img src="{{url_for("image", filename=camera)}}" id="live_image" alt="{{ camera.split('.')[:-1] | join('.') }}">
<span class="btn btn-primary btn-lg margin_top" role="button">{{ camera.split('.')[:-1] | join('.') }}</span></a>
</div>
{% else %}
<div class="box"><em>Unbelievable! No entries here so far...</em></div>
{% endfor %}
<script type="text/javascript">
// reload on focus
window.onblur= function() {window.onfocus= function () {document.location.reload(true)}};

// reload periodically
setTimeout(() => {
    console.log("Reload page...");
    document.location.reload();
}, {% if cameras | length > 0 %}30200{% else %}4200{% endif %});
</script>
</div>
{% endblock %}
