{% extends 'base.html.jinja2' %}

{%  block title %}Live view index{% endblock %}

{% block content %}
<h1>Index of cameras</h1>
<div class="container">
{% for camera in cameras %}
<div class="box">
<a href="{{ url_for('viewer', camera=camera) }}">
<img src="{{url_for("image", filename=camera)}}" id="live_image" alt="{{ camera.split('.')[:-1] | join('.') }}">
<span class="btn btn-primary btn-lg margin_top" role="button">{{ camera.split('.')[:-1] | join('.') }}</span></a>
</div>
<script type="text/javascript">
setTimeout(() => {
    console.log("Reload page...");
    document.location.reload();
}, 30200);
</script>
{% else %}
<div class="box"><em>Unbelievable! No entries here so far...</em></div>
<script type="text/javascript">
setTimeout(() => {
    console.log("Reload page...");
    document.location.reload();
}, 4200);
</script>
{% endfor %}
</div>
{% endblock %}
