<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<title>Live view for {{ camera }}</title>
<style>
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
</style>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
</head>
<body>
<img src="{{url_for("static", filename=camera)}}?t={{ now }}" id="live_image" alt="Live view" />
<script type="text/javascript">
var newImage = new Image();
newImage.src = "{{url_for("static", filename=camera)}}?t={{ now }}";

function updateImage()
{
    if(newImage.complete) {
        if (newImage.naturalWidth > 0) {
            document.getElementById("live_image").src = newImage.src;
            newImage = new Image();
            newImage.src = "{{url_for("static", filename=camera)}}?t=" + Date.now();
            console.log("refreshing image at " + Date.now());
        } else {
            console.log("not reloading image, since we probably got the not finally written file at " + Date.now());
            console.log("planning to reload complete page in 1 second");
            setTimeout(location.reload(), 1000);
        }
    }
    setTimeout(updateImage, 30200);
}

updateImage();
</script>
<center><a href="{{url_for("index")}}" class="btn btn-primary btn-lg" role="button">Back</a></center>
</body>
</html>
