{% extends 'base.html.jinja2' %}

{%  block title %}Live view for {{ camera.split('.')[:-1] | join('.') }}{% endblock %}

{% block content %}
<div class="viewer margin_top">
<img src="{{url_for("image", filename=camera)}}?t={{ now }}" id="live_image" alt="Live view" class="viewer_img" />
<a href="{{url_for("index")}}" class="btn btn-primary btn-lg margin_top" role="button">Back</a>
</div>
<script type="text/javascript">
// refresh image every 30 seconds
var newImage = new Image();
newImage.src = "{{url_for("image", filename=camera)}}?t={{ now }}";

function updateImage()
{
    if(newImage.complete) {
        if (newImage.naturalWidth > 0) {
            document.getElementById("live_image").src = newImage.src;
            newImage = new Image();
            newImage.src = "{{url_for("image", filename=camera)}}?t=" + Date.now();
            console.log("refreshing image at " + Date.now());
        } else {
            console.log("not reloading image, since we probably got the not finally written file at " + Date.now());
            console.log("planning to reload complete page in 1 second");
            setTimeout(document.location.reload(), 1000);
        }
    }
    setTimeout(updateImage, 30200);
}

updateImage();

// reload on focus
window.onblur= function() {window.onfocus= function () {document.location.reload(true)}};
</script>
{% endblock %}
