html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 4px -1px #000;
}

h1 {
    text-align: center;
}

.viewer {
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.box {
    flex-basis: calc(33.33% - 20px); /* Adjust the width as needed */
    margin: 10px;
    text-align: center; /* Center align contents within the box */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.margin_top {
 margin-top: 5px;
}
